
:root {
    --body:             #eeeeee;
    --text:             #222222;
    --nav-bg:           #333333;
    --nav-link:         #aaaaaa;
    --nav-link-current: #ffffff;
}

body {
    padding: 0;
    margin: 0;

    background-color: var(--body);
    color: var(--text);
    font-family: "Noto Sans", serif;
    font-size: 1.2rem;
}

@media screen and (max-width: 400px) {
    body {
        font-size: 1rem;
    }
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: "Archivo", sans-serif;
}

nav {
    position: fixed;
    top: 0px;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    background-color: var(--nav-bg);
    width: calc(100% - 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;

    z-index: 3;
    
    transition: height .35s;
    overflow: hidden;

    & > .items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        height: 3rem;

        & > a {
            padding: .25rem;
            color: var(--nav-link);
            text-decoration: none;
            transition: color .1s;
            font-size: .9em;
            &.current {
                color: var(--nav-link-current);
            }
            &:hover {
                color: var(--nav-link-current);
            }
        }
    }

    & > .controls {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        min-height: 3rem;

        & > h1 {
            margin: 0;
            color: var(--nav-link);
            font-size: 1em;
            text-align: left;
        }
        & > button {
            --tick-size: 4.3px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--tick-size);
            
            width: calc(var(--tick-size) * 5);
            height: calc(var(--tick-size) * 5);
    
            background-color: rgba(0, 0, 0, 0);
            border: none;
            & > span {
                display: block;
                background-color: var(--nav-link);
                height: var(--tick-size);
                width: calc(var(--tick-size) * 5);
                border-radius: 2px;
                transition:
                    background-color .1s,
                    opacity .1s,
                    transform .2s
                ;
            }
            &:hover > span {
                background-color: var(--nav-link-current);
            }
            @media screen and (max-width: 400px) {
                --tick-size: 3.67px;
            }
        }
    }

    &.open > .controls > button {
        & > span:first-child {
            transform: translateY(calc(var(--tick-size) * 1.9)) rotate(45deg);
        }
        & > span:nth-child(2) {
            transform: rotate(-45deg);
        }
        & > span:last-child {
            opacity: 0%;
        }
    }

    @media screen and (max-width: 1150px) {
        & > .controls {
            display: flex;
        }
        & > .items {
            flex-direction: column;
            align-items: start;
            height: auto;
            & > a {
                width: 100%;
            }
        }
        &.open {
            height: 100%;
        }
    }
}

.metsa-image {
    object-position: top;
}
.kasi-image {
    object-position: top;
}
.juha-image {
    max-width: 80%;
}
.kirja-image {
    max-width: 80%;
    max-height: 40rem;
}
@media screen and (max-width: 1150px) {
    .kukka-image {
        margin-top: auto;
    }
    .metsa-image {
        margin-left: auto;
        margin-top: auto;
    }
    .hevoset-image {
        margin-left: auto;
        margin-top: auto;
    }
    .kirjoituskone-image {
        margin-left: auto;
        margin-top: auto;
    }
}

main, aside {
    padding: 1rem;
    width: min(90%, 70ch);
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        figcaption {
            width: fit-content;
        }
    }
}

div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.nav-break {
    height: 4rem;
}
div.sidey-sidey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 1rem;

    @media screen and (max-width: 1000px) {
        & {
            flex-direction: column;
            align-items: center;
        }
    }
}
div.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
}

table {
    tr {
        th {
            padding-top: .25em;
            text-align: start;
        }
        td {
            padding-top: .25em;
            padding-left: 1em;
        }
    }
}

blockquote::before {
    content: open-quote;

    z-index: 0;
    position: absolute;
    margin-top: -4rem;
    margin-left: -2.5rem;

    font-family: "Faustina", sans-serif;
    font-size: 10rem;
    opacity: 25%;
}

div.cover {
    background-color: var(--body);

    position: fixed;
    top: 3rem;

    width: 100%;
    height: 33rem;
    overflow: hidden;

    transition: height .25s;

    z-index: 1;
    
    h1 {
        z-index: 1;
        width: 100%;
        position: absolute;
        transform: translateY(13rem);
        text-align: center;
        font-size: 1.9em;

        color: var(--body);
        text-shadow: 0px 2px 5px var(--text);

        transition: transform .25s, font-size .25s, color .25s, text-shadow .25s;
    }
    img {
        width: 100%;
        height: 100%;
        max-width: none;
        object-fit: cover;
        transition: opacity .25s;
    }
    & ~ span.cover-padding {
        height: 35rem;
        transition: height .25s;
    }
    & ~ div.cover-bg {
        margin-top: 0rem;
        margin-bottom: 0rem;
        transition: margin .25s;
    }

    &.collapsed {
        height: 5rem;
        img {
            opacity: 0%;
        }
        h1 {
            transform: translateY(.5rem);
            font-size: 1.25em;
            color: var(--text);
            text-shadow: 0px 2px 0px transparent;    
        }
        & ~ span.cover-padding {
            height: 5rem;
        }
        & ~ span.anti-cover-padding {
            height: 35rem;
            transition: height .25s;
        }
        & ~ div.cover-bg {
            margin-top: 30rem;
            transition: margin .25s;
        }
    }

    @media screen and (max-width: 1000px) {
        & {
            height: 23rem;
            h1 {
                transform: translateY(8rem);
                font-size: 1.6em;
            }
        }
        & ~ span.cover-padding {
            height: 25rem;
            transition: height .25s;
        }
        &.collapsed ~ span.anti-cover-padding {
            height: 25rem;
        }
        &.collapsed ~ div.cover-bg {
            margin-top: 20rem;
        }
    }
}
div.cover-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    background-color: var(--body);
}

footer {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
